:root {
    --color-text: #FFF;
    --padding: 20px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: sans-serif;
}

a {
    color: #FFF;
    text-decoration: none
}

.logo {
    height: 50px;
    margin-right: 60px;
    display: flex;
    text-align: center;
    vertical-align: middle;
}

.logo img {
    height: 100%;
}

.logo div {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.cover {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper {
    width: 55%;
    /*color: #222222;*/
    font-size: 18px;
    margin: auto;
    /*    background: red;*/
}
.wrapper_m {
    width: 100%;
    /*color: #222222;*/
    font-size: 22px;
    margin: auto;
    /*    background: red;*/
}
.wrapper_f {
    width: 55%;
    /*color: #222222;*/
    font-size: 18px;
    margin: auto;
    /*    background: red;*/
}

header {
    height: 5vh;
    width: 100%;
    background-color: #000;
    padding: var(--padding);
}

header a {
    /*    height: 5vh;*/
    color: #FFF;
    text-decoration: none;
    padding: 8px 14px;
    white-space: nowrap;
    border-radius: 8px;
}

header a:hover {
    background-color: #303030;
}

main {
    font-size: 24px;
    padding: 20px;
    flex: 1 1 auto;
}



footer {
    width: 100%;
    background-color: #000;
    padding: var(--padding);
}

footer {
    padding: var(--padding);
}

header,
footer p {
    color: var(--color-text);
}

footer img {
    width: 40px;
    margin: 4px;
}

@media (orientation:portrait) {
    .wrapper {
        width: 100%;
    }
}
